<header class="hero">
    <nav class="nav__hero">
        <div class="container nav__container">
            <div class="logo">
                <img src="assets/img/icac.svg" class="mockup">
            </div>
            <div class="links">
                <a href="#" class="link">CONSULTAR HABILIDAD</a>
                <a href="#" class="link link--active">PAGOS</a>
            </div>
        </div>
    </nav>


    <section class="container hero__main">  
        <div class="hero__textos">
            <h1 class="title">Nuestro <span class="title--active">Portal Digital.</span></h1> 
            <p class="copy">Consulta tu habilidad y los pagos <span class="copy__active">en linea</span></p>
            <a href="#" class="cta">Consultar Habilidad</a>
        </div>
        <img src="assets/img/pagos.png" class="mockup">
    </section>
</header>
