<section class="services">
    <div class="container">
        <h2 class="subtitle">Consulte su Habilidad<span class="point">.</span></h2>
        <p class="copy__section">Para realizar la consulta puede escoger cualquiera de los dos metodos, no olvide completar ambos casilleros</p>

        <article class="container-cards">
            <div class="card">
                <div class="cards__text">
                    <p class="card__list">Busqueda por colegiatura</p>
                    <input type="text" class="newsletter__input" placeholder="colegiatura">
                    <input type="text" class="newsletter__input" placeholder="DNI">
                    <a href="#" class="card__button">Consultar</a>
                    <p class="card__list">Busqueda por Nombres y apellidos</p>
                    <input type="text" class="newsletter__input" placeholder="Nombres">
                    <input type="text" class="newsletter__input" placeholder="Apellidos">
                    <a href="#" class="card__button">Consultar</a>
                </div>
            </div>
            
        </article>

    </div>
</section>
